# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [20]:
# Drop the date column
df.drop(columns = 'date')

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [17]:
 # Filter data for desired months
june_temp = df[df['date'].dt.month == 6]
dec_temp = df[df['date'].dt.month == 12]

In [25]:
# Identify the average temperature for June
june_avg_temp = june_temp['tobs'].mean()
print(f'The average temperature for June across all stations is {round(june_avg_temp,2)} F')

The average temperature for June across all stations is 74.94 F

In [26]:
# Identify the average temperature for December
dec_avg_temp = dec_temp['tobs'].mean()
print(f'The average temperature for December across all stations is {round(dec_avg_temp,2)} F')

The average temperature for December across all stations is 71.04 F

In [34]:
# Create collections of temperature data
june_data = june_temp['tobs']
dec_data = dec_temp['tobs']

In [36]:
# Run paired t-test
stats.ttest_ind(june_data, dec_data, equal_var = False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

In [ ]:
Although we are getting the temperatures from the same stations the months for which the temperatures 
are recorded are different (which is June and December) which makes the datasets independent of each other, 
an unpaired t-test is used in this analysis.